# Data Cleaning with Python

In [73]:
# Imports
import numpy as np
import pandas as pd

This public data set is taken from [The National Archives](https://webarchive.nationalarchives.gov.uk/20100406121330/http://www.stats4schools.gov.uk/large_datasets/smoking/default.asp) (Part 1 CSV):

> Smoking  
> Who is more likely to smoke? What is the most popular type of tobacco?
> 
> This data will allow you to look at the smoking habits of over 1000 participants.

## Saving file from the web

Download files with Python: https://stackabuse.com/download-files-with-python/

In [74]:
import urllib.request

url = "https://webarchive.nationalarchives.gov.uk/20100406121330/http://www.stats4schools.gov.uk/images/smoking_part_1_tcm86-13254.csv"
file_name = "smoking_data.csv"

print('Beginning file download with urllib2...')

urllib.request.urlretrieve(url, file_name)

Beginning file download with urllib2...

('smoking_data.csv', <http.client.HTTPMessage at 0x1a1bf90080>)

## Error with decoding file

In [75]:
data_frame = pd.read_csv(file_path)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa3 in position 0: invalid start byte

## Reading file as a single string

In [ ]:
with open(file_name, 'rb') as f:
  contents = f.read()

contents

## Removing unwanted characters

Removing unwanted characters: https://stackoverflow.com/questions/42339876/error-unicodedecodeerror-utf-8-codec-cant-decode-byte-0xff-in-position-0-in

In [ ]:
contents = contents.decode('utf-8', 'ignore')
contents

Notice that the column name "Smoke?" has a question mark which can make things harder when accessing columns in `R`. Let us remove the question mark using the `replace()` function. We can assume that this is the only question mark so we won't be affecting any of the column/row values.

In [ ]:
contents = contents.replace("?", "")
contents

## Writing contents to new file

Reading and Writing Files: https://www.guru99.com/reading-and-writing-files-in-python.html

In [ ]:
file = open("cleaned_data.csv","w+")
file.write(contents)
file.close()

## Checking the clean data

In [72]:
df = pd.read_csv('cleaned_data.csv')
df

,Sex,Age,Marital Status,Highest Qualification,Nationality,Ethnicity,Gross Income,Region,Smoke,Amount Weekends,Amount Weekdays,Type
0,Male,38,Divorced,No Qualification,British,White,2600 to less than 5200,The North,No,NaN,NaN,NaN
1,Female,42,Single,No Qualification,British,White,Less than 2600,The North,Yes,12.0,12.0,Packets
2,Male,40,Married,Degree,English,White,28600 to less than 36400,The North,No,NaN,NaN,NaN
3,Female,40,Married,Degree,English,White,10400 to less than 15600,The North,No,NaN,NaN,NaN
4,Female,39,Married,GCSE/O Level,British,White,2600 to less than 5200,The North,No,NaN,NaN,NaN
5,Female,37,Married,GCSE/O Level,British,White,15600 to less than 20800,The North,No,NaN,NaN,NaN
6,Male,53,Married,Degree,British,White,36400 or more,The North,Yes,6.0,6.0,Packets
7,Male,44,Single,Degree,English,White,10400 to less than 15600,The North,No,NaN,NaN,NaN
8,Male,40,Single,GCSE/CSE,English,White,2600 to less than 5200,The North,Yes,8.0,8.0,Hand-Rolled
9,Female,41,Married,No Qualification,English,White,5200 to less than 10400,The North,Yes,15.0,12.0,Packets
10,Male,72,Widowed,No Qualification,English,White,10400 to less than 15600,The North,No,NaN,NaN,NaN
11,Male,49,Married,No Qualification,British,White,Refused,The North,No,NaN,NaN,NaN
12,Male,29,Married,Degree,English,White,36400 or more,The North,No,NaN,NaN,NaN
13,Female,79,Widowed,No Qualification,English,White,10400 to less than 15600,The North,No,NaN,NaN,NaN
14,Male,25,Single,Degree,English,White,15600 to less than 20800,The North,No,NaN,NaN,NaN
15,Female,27,Single,Degree,English,White,15600 to less than 20800,The North,No,NaN,NaN,NaN
16,Female,30,Single,Degree,English,White,20800 to less than 28600,The North,No,NaN,NaN,NaN
17,Male,47,Divorced,No Qualification,British,White,10400 to less than 15600,The North,No,NaN,NaN,NaN
18,Female,69,Single,Other/Sub Degree,English,White,2600 to less than 5200,The North,No,NaN,NaN,NaN
19,Male,55,Married,No Qualification,English,White,20800 to less than 28600,The North,No,NaN,NaN,NaN
20,Female,34,Married,GCSE/CSE,British,White,2600 to less than 5200,The North,Yes,6.0,12.0,Packets
21,Female,36,Married,GCSE/O Level,English,White,5200 to less than 10400,The North,Yes,5.0,2.0,Packets
22,Female,56,Married,No Qualification,English,White,2600 to less than 5200,The North,Yes,20.0,20.0,Packets
23,Male,71,Divorced,No Qualification,English,White,Unknown,The North,No,NaN,NaN,NaN
24,Female,38,Married,No Qualification,English,White,5200 to less than 10400,The North,No,NaN,NaN,NaN
25,Female,79,Married,No Qualification,English,White,Less than 2600,The North,No,NaN,NaN,NaN
26,Female,58,Divorced,No Qualification,English,White,5200 to less than 10400,The North,Yes,25.0,20.0,Packets
27,Female,69,Married,No Qualification,British,White,Less than 2600,The North,No,NaN,NaN,NaN
28,Male,83,Widowed,No Qualification,English,White,2600 to less than 5200,The North,No,NaN,NaN,NaN
29,Female,73,Widowed,No Qualification,English,White,5200 to less than 10400,The North,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1663,Male,23,Separated,GCSE/O Level,Scottish,White,Less than 2600,Scotland,Yes,5.0,0.0,Packets
1664,Male,34,Single,No Qualification,Scottish,White,10400 to less than 15600,Scotland,Yes,35.0,18.0,Both/Mainly Hand-Rolled
1665,Male,24,Single,Degree,Scottish,White,15600 to less than 20800,Scotland,No,NaN,NaN,NaN
1666,Male,82,Single,Other/Sub Degree,Scottish,White,5200 to less than 10400,Scotland,No,NaN,NaN,NaN
1667,Male,27,Married,A Levels,Scottish,White,15600 to less than 20800,Scotland,No,NaN,NaN,NaN
1668,Female,62,Divorced,GCSE/CSE,Scottish,White,2600 to less than 5200,Scotland,Yes,18.0,18.0,Packets
1669,Male,39,Married,Higher/Sub Degree,British,White,20800 to less than 28600,Scotland,No,NaN,NaN,NaN
1670,Male,44,Separated,No Qualification,Scottish,White,2600 to less than 5200,Scotland,No,NaN,NaN,NaN
1671,Female,43,Single,No Qualification,British,White,10400 to less than 15600,Scotland,Yes,25.0,20.0,Packets
1672,Male,31,Single,GCSE/O Level,Scottish,White,2600 to less than 5200,Scotland,Yes,20.0,15.0,Both/Mainly Packets
1673,Male,77,Divorced,Other/Sub Degree,English,White,5200 to less than 10400,Scotland,Yes,20.0,10.0,Packets
1674,Female,20,Single,GCSE/O Level,English,White,5200 to less than 10400,Scotland,No,NaN,NaN,NaN
1675,Female,81,Widowed,Other/Sub Degree,Scottish,White,5200 to less than 10400,Scotland,No,NaN,NaN,NaN
1676,Female,31,Single,GCSE/O Level,Scottish,White,15600 to less than 20800,Scotland,Yes,20.0,10.0,Packets
1677,Female,78,Married,Other/Sub Degree,Scottish,White,2600 to less than 5200,Scotland,No,NaN,NaN,NaN
1678,Male,35,Married,A Levels,Scottish,White,10400 to less than 15600,Scotland,No,NaN,NaN,NaN
1679,Female,67,Widowed,No Qualification,Scottish,White,Less than 2600,Scotland,No,NaN,NaN,NaN
1680,Male,65,Divorced,Other/Sub Degree,Scottish,White,10400 to less than 15600,Scotland,No,NaN,NaN,NaN
1681,Male,61,Married,Higher/Sub Degree,Scottish,White,10400 to less than 15600,Scotland,No,NaN,NaN,NaN
1682,Male,24,Single,No Qualification,Scottish,White,Less than 2600,Scotland,Yes,15.0,15.0,Hand-Rolled
1683,Male,53,Single,No Qualification,Scottish,White,20800 to less than 28600,Scotland,No,NaN,NaN,NaN
1684,Female,63,Married,No Qualification,British,White,Refused,Scotland,No,NaN,NaN,NaN
1685,Male,35,Married,No Qualification,Scottish,White,10400 to less than 15600,Scotland,Yes,3.0,12.0,Packets
1686,Male,78,Widowed,No Qualification,Scottish,White,Refused,Scotland,No,NaN,NaN,NaN
1687,Female,31,Single,Other/Sub Degree,Scottish,White,5200 to less than 10400,Scotland,No,NaN,NaN,NaN
1688,Male,22,Single,No Qualification,Scottish,White,2600 to less than 5200,Scotland,No,NaN,NaN,NaN
1689,Female,49,Divorced,Other/Sub Degree,English,White,2600 to less than 5200,Scotland,Yes,20.0,20.0,Hand-Rolled
1690,Male,45,Married,Other/Sub Degree,Scottish,White,5200 to less than 10400,Scotland,No,NaN,NaN,NaN
1691,Female,51,Married,No Qualification,English,White,2600 to less than 5200,Scotland,Yes,20.0,20.0,Packets
1692,Male,31,Married,Degree,Scottish,White,10400 to less than 15600,Scotland,No,NaN,NaN,NaN